.iphone-card{
    border: 1px solid red ;
    border-radius: 10px;
    height: 400px;
    position: relative;
}
.iphone-card img{
    height: 250px;
    width: 200px;
    margin: 10px;
}
.iphone-info{
    margin: 0 10px;
}
.iphone-info p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
}
.cart-btn{
    color: red;
    width: 100%;
    background: #f3c47f;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn P{
    font-size: 18px;
    margin-right: 5px;
}
