.all-iphone-container{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
}

.single-iphone-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px;
}

.cart-container{
    background-color: beige;
}