.all-iphone-container{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    gap: 10px;
    margin: 20px;
}

.single-iphone-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px;
}

.all-cart-container{
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid salmon;
    text-align: center;
}

.cart-container{
    position: sticky;
    top: 0;
}

.order-btn{
    display: grid;
    margin: 5px;
    gap: 10px;
}
.order-btn button{
    border-radius: 10px;
    background-color: aqua;
    color: orangered;
    text-align: center;
}
.order-btn p{
    font-size: 20px;
}
@media screen and (max-width:400px) {
    .all-iphone-container{
        grid-template-columns: 1fr;
    }
    .single-iphone-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}
